html {
    text-align: center;
    overflow: scroll;
}

header{
    font-size: 45px;
    font-family: 'Asap', sans-serif;
    padding: 20px;
}

.BetterD2L{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.BetterD2L p{
    text-align: left;
    margin: auto;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 3px solid black;
    width: 650px;
    height: 200px;
    border-radius: 25px;
    padding: 35px;
    overflow: scroll;
}


.Algorithm-Quiz {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.Algorithm-Quiz p {
    text-align: left;
    margin-bottom: 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 3px solid black;
    width: 650px;
    height: 200px;
    border-radius: 25px;
    padding: 35px;
    overflow: scroll;
}


.Monopoly{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.Monopoly p {
    text-align: left;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 3px solid black;
    width: 650px;
    height: 15%;
    margin-bottom: 30px;
    border-radius: 25px;
    padding: 35px;
}