html {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black
}


header {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
}

.nokia  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.nokia p {
    text-align: left;
    margin: auto;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 3px solid black;
    width: 650px;
    height: 300px;
    border-radius: 25px;
    padding: 25px;
}

.nutrien  {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

li {
    display: inline;
    margin: 5px
}

.main {
    padding-bottom: 50px;
}

.main p {
    margin: auto;
    width: 40%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: 
        url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }


button {
    --c:  #229091; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
   
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  button {
    border-radius: 20px;
    font-family: system-ui, sans-serif;
    font-size: 25px;
    cursor: pointer;
    padding: .1em .6em;
    width: 250px;
    height: 70px;
    font-weight: bold;  
    border: none;
  }


